.containermain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 80px;
}

.containerleft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  width: 31%;
  padding-right: 45px;
  flex-shrink: 1;
}

.containerright {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  width: 60%;
  padding-left: 14px;
}



body {
    margin-top: 0;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.page  {
  width: 100%;
  line-height: 150%;
}

header {
 height: 340px;
 width: 260px;
 background: no-repeat center / cover url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
}

.head {
  font-family: 'BioRhyme', serif;
  color: 	#222;
  font-weight: 900;
  width: 260px;
  height: 50px;
  line-height: 58px;
}

#head1 {
   font-size: 32px;
   padding-left: 30px;
   padding-top: 150px;
 }

#head2 {
   font-size: 62px;
   margin-left: 30px;
 }

blockquote {
  font-family: 'BioRhyme', serif;
  color: 	#eeeeee;
  font-size: 38px;
  font-weight: bold;
  line-height: 60px;
  width: 100%;
  margin: auto;
  margin-top: 1em;
  padding: 5px 0 50px 0;
  background-color: #222;
  margin-inline-start: -2em;
  margin-left: 0;
  text-indent: -1em;
  padding-left: 1em;
}

blockquote::before {
  content: '”';
  font-family: 'Catamaran', sans-serif 30px;
  vertical-align: super;
  font-size: 200%;
}

#blockquote3rd {
  margin-bottom: 0;
}

section {
  font-family: 'BioRhyme', serif;
  color: 	#222;
}

h3.upper {
  margin: 140px 0 40px 0;
  text-transform: uppercase;
}

h3 {
  margin: 30px 82px 30px 0;
  line-height: 26px;
  font-family: 'BioRhyme', serif;
font-family: 'Space Mono', monospace;
}

h4 {
  font-family: 'BioRhyme', serif;
font-family: 'Space Mono', monospace;
  font-size: 15px;
  font-style: italic;
  margin: -30px 0 0 0;
}

li {
  list-style-type: square;
}

.afterp {
  margin-bottom: 50px;
}

.beforep {
  margin-top: 50px;
}

hr {
  border: 2px solid #222;
  margin: 50px 0 50px 0;
}
#navbox#nav {
  height: 340px;
  width: 95%;
  margin: 0;
}

#nav {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 40px;
  width: 700px;
  background-color: #222;
  font-family: 'BioRhyme', serif;
font-family: 'Space Mono', monospace;;
  font-size: 25px;
  text-align: center;
  border-top: 20px solid #222;
  border-bottom: 20px solid #222;
}

a:link {
  color: 	#eeeeee;
  text-decoration: none;
  margin: 15px;
}

a:visited {
  color: #faebd7;
}

a:hover {
  color: #f0f8ff;
}

a:active {
  color: #c9c9c9;
}

.row {
  display: flex;
}

.column {
  width: 50%;
}